
content section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: var(--bg-dim)
}

content section {
  text-align: center;
}

content section.title {
  justify-content: center;
  align-items: center;
  margin: 100px;
  background-color: var(--bg-color);
}

content section.xmpp div {
  display: flex;
  flex-direction: row;
}

content section.xmpp img {
  max-width: 10%;
}

@media (max-width: 601px) or (orientation: portrait) {
  content section.xmpp img {
    max-width: 100%;
  }
}

